In [2]:
import pandas as pd

In [3]:
!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.10/dist-packages (0.18.0)

In [4]:
from fuzzywuzzy import fuzz

/usr/local/lib/python3.10/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [5]:
df = pd.read_excel('employee_data.xlsx')
df.head()

,EEID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,Female,Black,55,2016-08-04 00:00:00,"$141,604",0.15,United States,Seattle,10/16/2021
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,Male,Asian,59,11/29/1997,"$99,975",0.00,China,Chongqing,NaN
2,E02572,Luna Sanders,Director,Finance,Speciality Products,Female,Caucasian,50,10/26/2006,"$163,099",0.20,United States,Chicago,NaN
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,Female,Caucasian,26,9/27/2019,"$84,913",0.07,United States,Chicago,NaN
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,Male,Asian,55,11/20/1995,"$95,409",0.00,United States,Phoenix,NaN

In [6]:
from openpyxl.utils import get_column_letter, column_index_from_string

In [7]:
while True:
  search_column_excel = input("Enter the column name to search for: ")
  try:
    search_column = column_index_from_string(search_column_excel) - 1
    if 0 <= search_column < df.shape[1]:
      break
    else:
      print('Invalid column name, please check and enter a valid column name:')
  except ValueError:
    print('Invalid column name, please check and enter a valid column name:')

Enter the column name to search for: b

In [8]:
data = df.iloc[:,search_column].values.astype(str).tolist()

In [42]:
search_text = input('Please enter the name to find:')

Please enter the name to find:Carilo

In [43]:
similarities = [fuzz.ratio(search_text, text) for text in data]

In [56]:
threshold = 57

In [57]:
indices = [i for i, similarity in enumerate(similarities) if similarity >threshold]

In [58]:
if not indices:
    print("No results found, please refine search keyword or reduce threshold.")
else:
    df_indices = [(idx, search_column) for idx in indices]
    cell_locations = [f"{search_column_excel}{df_index[0] + 2}" for df_index in df_indices]
    for df_index, location in zip(df_indices, cell_locations):
        print(f"Found a match at cell {location}: {df.iloc[df_index]}")

Found a match at cell b410: Logan Carrillo